{% extends 'base.html.twig' %}
{% block body %}

<h1>Hello insatien !</h1>
<p>
    <h3 class="container">about INSAT:</h3>
    Lorem ipsum dolor sit , amet consectetur adipisicing elit. Eaque ab beatae necessitatibus ut dolore quibusdam. Id eius libero aliquam molestias.
</p>
<p>
    <h3 class="container">about us :</h3>
    Lorem ipsum dolor sit , amet consectetur adipisicing elit. Eaque ab beatae necessitatibus ut dolore quibusdam. Id eius libero aliquam molestias.
</p>
<h1> test test</h1>
{% endblock %}